<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=odatatestUtnxj;pwd=$U_#+Ig?33?^;Database=odatatest" name="odatatest" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <system.web>
        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
       <rewrite>
            <rules>
                <rule name="rule1">
	                <match url="(\.svc.*)" />
	                <action type="Rewrite" url="/index.php" />
                </rule>            

                <rule name="rule2">
	                <match url=".*" />
	                <action type="Rewrite" url="/-" />
                </rule>
                <rule name="rule3">
	                <match url=".*" />
	                <action type="Rewrite" url="/-" />
                </rule>

                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>    
    </system.webServer>
</configuration>
